<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Documentation sur l'utilisation du plugin</h1>
    <p style="font-size: 20px">Pour utiliser ce plugin vous avez tout simplement besoin de créer une page wordpress vide ou non,<br>ensuite
        il
        vous faudra rajouter un code court sur la page comme ceci : [quest-master] et lorsque un utilisateur se dirigera
        sur la page en question le jeu s'affichera</p>
</div>

</body>
</html>