.game-board {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.player {
  background-color: white;
  color: white;
}

.monster {
  background-color: white;
  color: white;
}

.chest {
  background-color: white;
  color: white;
}
